// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~admin-lte/build/scss/adminlte.scss';

[class*=sidebar-dark-] {
    background-color: $primary;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: $primary-ligth;
}


.check-student {
        position: absolute !important;
        right: 10px !important;
}

.check-student-list {
    cursor: pointer;
}

.check-student-list:hover {
     background-color: $primary-ligth;
     color: white;
}
.icon-class{
    font-size: 3rem;
}
.small-box-check {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
}

.small-box-check:hover {
    background-color: $primary-ligth !important;
}
td.fc-daygrid-day{
    cursor: pointer;
}

td.fc-daygrid-day:hover {
    background: $primary-ligth;
    color: white;
}
td.fc-day-today{
    background-color: $primary !important;
    color: white;
}
